---
import Layout from '../layouts/Layout.astro';
import type { Pokemon } from '../types/Pokemon';

const response = await fetch('https://pokeapi.deno.dev/pokemon?limit=25');
const pokemon = (await response.json()) as Pokemon[];
---

<Layout>
  <main>
    {
      pokemon.map((p) => (
        <a
          href={`/${p.id}`}
          id={`${p.id}`}
          style={{ backgroundColor: p.color }}
          transition:name={`main-${p.id}`}
        >
          <img
            height="224px"
            width="224px"
            src={p.imageUrl}
            transition:name={`image-${p.id}`}
          />
        </a>
      ))
    }
  </main>
</Layout>

<style>
  main {
    padding: 4em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(224px + 3em));
    gap: 2.5em;
    justify-content: center;
  }

  a {
    padding: 2.75em 1.5em;
    border-radius: 1rem;
  }
</style>
